/**css reset**/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/**end of reset**/

/**mobile / global styles**/
    html{
        background-color: black;
        font-family: Arial, Helvetica, sans-serif;
    }
    main p {font-size: 1.25em;
    text-align: left;
    padding: .5em;
    }

    figcaption, label, input, small {
        font-size: 1em;
    }

    h1, h2{
        font-weight: bold;
    }

    nav{
        padding: 1em;
    }

    nav li{
    display:inline;
    padding: .5em;
    }

    nav a {
        font-size: 1.5em;
        text-decoration: none;
        color: white;
        text-transform: uppercase;
    }

    a:hover{
        color:#007d7b;
    }

    h1 {
        font-size: 3em;
        color:#007d7b;
        background-color: white;
        text-align: center;
        text-transform:uppercase;
    }

    h2 {font-size: 2em;
        text-transform:uppercase;
        padding: .5em;
    }

    body {
        display:grid;
        padding: 1em;
        text-align: center;
        margin:0 auto;
        min-width: 458px;
        max-width: 458px;
    }

    section{
        background-color: white;
    }

    aside, footer{
        margin-top:1em;
        color: white;
    }

    footer{
        padding-top: 2em;
        font-weight: bold;
        text-transform: uppercase;
    }

    #top{
    position:fixed;
    bottom:5px;
    right:5px;
    background-color: black;
    padding: .5em;
    border-radius:5px;
    z-index: 1;
    }

    figure{
        position: relative;
        text-align: center;
    }
    figcaption{
        position: absolute;
        color: white;
        top: 4%;
        left: 50%;
        transform: translate(-50%);
        text-transform: uppercase;
    }
    form{
        display:grid;
        padding:1em;
        font-weight: bold;
        text-align: left;
        width:80%;
        margin:0 auto;
    }
    form label{
        padding:1em 0 3px .5em;
    }
    form input{
        color:#007d7b;
        text-transform: uppercase;
        font-weight: bold;
        padding: 5px;
    }
    input[type=submit]{
        background-color:#007d7b;
        border-style: none;
        color:white;
        margin-top: 2em;
        border-radius: 10px;
        width:66%;
        justify-self: center;
        padding:5px;
    }

    #gallery figure{
        padding-bottom: 1em;
    }
    .bottext{
        top: 85%;
    }
    .blacktext{
        color:black;
    }
    #italy{
        top:93%;
    }
/**end global styles**/

/**breakpoints**/
@media screen and (min-width: 880px){
    h1{
        text-align: left;
    }
    #gallery{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    body{
        max-width: 880px;
    }
}

@media screen and (min-width: 1300px){
    body{
        max-width: 1300px;
    }
    #gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    nav{
        text-align: right;
    }
}